<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.devriesl.autotethering">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoTethering">

        <service android:name=".TetheringService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:label="@string/tethering_service_label">
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
        </service>
    </application>

</manifest>